{{ define "main" }}


<section id="prisoners-page">
    <section id="prisoners-header">
        <video autoplay="" loop="" muted="" playsinline="" class="video-background">
            <source src="/videos/home/video.mp4" type="video/mp4">
            <source src="/videos/home/video.webm" type="video/webm">
        </video>
        <svg class="bg-scribble" viewBox="0 0 1084.91 1338.36" aria-hidden="true">
            <use xlink:href="#scribble-path"></use>
        </svg>
        <svg class="frame-texture" viewBox="0 0 483.45 32.11" aria-hidden="true">
            <use xlink:href="#frame-texture-path"></use>
        </svg>
        <header>
            <!-- The headline is a single phrase that outlines the theme of the page -->
            <h1>
                <span class="flush-right bg-nudge">The</span>
                <span class="sm-nudge">Arbitrary</span>
                <span class="flush-right">Detainment</span>
                <span>of Voices</span>
            </h1>
        </header>
    </section>

    <article class="testimonial" style="border-radius:0">
        <div class="inner">
            <div class="photo">
                <img style="border-radius: 1000px;" src="/people/andrew_young.jpg" width="300" height="300"
                    alt="Image alt text" loading="lazy">
            </div>
            <div class="text">
                <p>We still have hundreds of people that I would categorize as political prisoners in our prisons. Maybe
                    even thousands, depending on how you categorize them.</p>
                <cite>- Andrew Young, Former United States Ambassador to the United Nations</cite>
            </div>
        </div>
    </article>


    <main id="maincontent">
        <article class="grid-container">
            <article class="text-block wysiwyg-content">
                <div class="take-action-listing">
                    <div id="airtable-data"></div>
                </div>
            </article>
        </article>
    </main>
</section>



{{ end }}