{{ define "main" }}
<header
    class="hero"
    id="heroHome"
    data-hero-type="home"
    data-no-margin="false"
    data-section-nav="true"
    data-hashtag="false"
>
    <div class="inner">
        <div
            class="background -animated fadeIn"
            data-animation="fadeIn"
            data-animation-delay="100"
            data-animation-duration="1500"
            style="animation-delay: 100ms; animation-duration: 1500ms;"
        >
            <div
                class="background -animated fadeIn"
                data-animation="fadeIn"
                data-animation-delay="100"
                data-animation-duration="1500"
                style="animation-delay: 100ms; animation-duration: 1500ms;"
            >
                <video
                    autoplay=""
                    loop=""
                    muted=""
                    playsinline=""
                    class="video-background"
                >
                    <source src="/videos/home/video.mp4" type="video/mp4">
                    <source src="/videos/home/video.webm" type="video/webm">
                </video>
            </div>
        </div>
        <div class="content">
            <div class="text">
                <h1 class="h1 naacp-title">
                    <div
                        class="top-text -animated fadeInUp"
                        data-animation="fadeInUp"
                        data-animation-delay="750"
                        data-animation-duration="1500"
                        style="animation-delay: 750ms; animation-duration: 1500ms;"
                    >
                        <span>Justice</span>
                    </div>
                    <div
                        class="highlight -animated fadeInUp"
                        data-animation="fadeInUp"
                        data-animation-delay="1000"
                        data-animation-duration="1500"
                        style="animation-delay: 1000ms; animation-duration: 1500ms;"
                    >
                        <span>No Matter What</span>
                    </div>
                </h1>
            </div>
        </div>
    </div>
</header>




<main id="maincontent">


    {{ $allCategories := slice }}
    {{ range .Site.RegularPages }}
    {{ with .Params.category }}
    {{ $allCategories = $allCategories | append . }}
    {{ end }}
    {{ end }}
    {{ $uniqueCategories := uniq $allCategories }}
    <div id="posts-categories-filter">
        <div class="flex justify-center">
            <div><a class="text-white" href="#Latest" onclick="filterPosts('')">Latest</a></div>
            {{ range $uniqueCategories }}
            <div><a class="text-white" href="#{{ . | urlize }}" onclick="filterPosts('{{ . | urlize }}')">{{ . }}</a></div>
            {{ end }}
        </div>
    </div>

    <section id="posts-list-cnt">
        {{ range (.Paginate .RegularPagesRecursive).Pages }}
        <article class="list-item {{ .Params.category | urlize }}">
            <a href="{{ .Permalink }}" class="js-link-event-link">
                <div class="line"></div>
                {{ with .Params.category }}
                <h4 class="category">{{ . }}</h4>
                {{ end }}
                <h3 class="h4">
                    {{ .Title }}
                </h3>
            </a>
        </article>
        {{ end }}
    </section>

    <script>
        function filterPosts(category) {
            var articles = document.querySelectorAll('.list-item');
            articles.forEach(function(article) {
                if (category === '' || article.classList.contains(category)) {
                    article.style.display = '';
                } else {
                    article.style.display = 'none';
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function() {
            var hashValue = window.location.hash.replace('#', '');
            if (hashValue) {
                filterPosts(hashValue);
            }
        });

    </script>

</main>
</div>
{{ end }}
