<footer class="site-footer -frameless">
    <div class="site-footer-inner">
        <div class="site-footer-top">
            <form class="site-footer-signup" action="/sign-up" data-protonpass-form=""><label
                    for="site-footer-signup-input">Stay informed</label>
                <div class="site-footer-signup-inputs"><protonpass-control style=""></protonpass-control><input
                        type="email" id="site-footer-signup-input" class="site-footer-signup-input" name="em" value=""
                        placeholder="Enter your email" data-protonpass-field-type="email"
                        style="padding-right: 86.2px !important;" data-protonpass-field=""
                        data-protonpass-base-css="{&quot;padding-right&quot;:&quot;&quot;}"><button type="submit"
                        class="site-footer-signup-submit btn -go"><span class="sr-text">Submit</span></button></div>
            </form>
            <nav class="site-footer-social" aria-label="Social Media Links">
                <ul>
                    <li><a href="https://twitter.com/NAACP" class="icon-twitter" rel="noopener" target="_blank"><span
                                class="sr-text">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/naacp" class="icon-facebook" rel="noopener"
                            target="_blank"><span class="sr-text">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/naacp" class="icon-instagram" rel="noopener"
                            target="_blank"><span class="sr-text">Instagram</span></a></li>
                    <li><a href="https://www.youtube.com/user/naacpvideos/videos" class="icon-youtube" rel="noopener"
                            target="_blank"><span class="sr-text">YouTube</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="site-footer-bottom">
            <nav class="site-footer-nav" aria-label="Footer Navigation">
                <ul>
                    <li><a href="https://naacpstore.org/" rel="noopener" target="_blank">Store</a></li>
                    <li><a href="/about/careers" data-drupal-link-system-path="node/148">Careers</a></li>
                    <li><a href="/terms-use" data-drupal-link-system-path="node/32">Terms of Use</a></li>
                    <li><a href="/privacy-policy" data-drupal-link-system-path="node/33">Privacy Policy</a></li>
                </ul>
            </nav>
            <div class="site-footer-copyright">
                <p>© 2023 NAACP. All Rights Reserved.</p>
            </div>
        </div><svg class="frame-texture" viewBox="0 0 483.45 32.11" aria-hidden="true">
            <use xlink:href="#frame-texture-path"></use>
        </svg>
    </div>
</footer>