<footer class="site-footer -frameless">
    <div class="site-footer-inner">
        <div class="site-footer-top">
            {{ partial "newsletter.html" . }}
            <nav class="site-footer-social" aria-label="Social Media Links">
                <ul>
                    <li>
                        <a
                            href="https://twitter.com/NAACP"
                            class="icon-twitter"
                            rel="noopener"
                            target="_blank"
                        >
                            <span class="sr-text">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.facebook.com/naacp"
                            class="icon-facebook"
                            rel="noopener"
                            target="_blank"
                        >
                            <span class="sr-text">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.instagram.com/naacp"
                            class="icon-instagram"
                            rel="noopener"
                            target="_blank"
                        >
                            <span class="sr-text">Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.youtube.com/user/naacpvideos/videos"
                            class="icon-youtube"
                            rel="noopener"
                            target="_blank"
                        >
                            <span class="sr-text">YouTube</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="site-footer-bottom">
            <nav class="site-footer-nav" aria-label="Footer Navigation">
                <ul>
                    {{ range .Site.Params.footerLinks }}
                    <li>
                        <a href="{{ .href }}" title="{{ .name }}">{{ .name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
            <div class="site-footer-copyright">
                <p>© {{ .Site.Params.Copyright }}</p>
            </div>
        </div>
        <svg class="frame-texture" viewBox="0 0 483.45 32.11" aria-hidden="true">
            <use xlink:href="#frame-texture-path"></use>
        </svg>
    </div>
</footer>
