{{ define "main" }}
<header
    class="hero"
    id="heroHome"
    data-hero-type="home"
    data-no-margin="false"
    data-section-nav="true"
    data-hashtag="false"
>
    <div class="inner">
        <div
            class="background -animated fadeIn"
            data-animation="fadeIn"
            data-animation-delay="100"
            data-animation-duration="1500"
            style="animation-delay: 100ms; animation-duration: 1500ms;"
        >
            <div
                class="background -animated fadeIn"
                data-animation="fadeIn"
                data-animation-delay="100"
                data-animation-duration="1500"
                style="animation-delay: 100ms; animation-duration: 1500ms;"
            >
                <video
                    autoplay
                    loop
                    muted
                    playsinline
                    class="video-background"
                >
                    <source src="/videos/home/video.mp4" type="video/mp4">
                    <source src="/videos/home/video.webm" type="video/webm">
                </video>
            </div>
        </div>
        <div class="content">
            <div class="text">
                <h1 class="h1 naacp-title">
                    <div
                        class="top-text -animated fadeInUp"
                        data-animation="fadeInUp"
                        data-animation-delay="750"
                        data-animation-duration="1500"
                        style="animation-delay: 750ms; animation-duration: 1500ms;"
                    >
                        <span>Justice</span>
                    </div>
                    <div
                        class="highlight -animated fadeInUp"
                        data-animation="fadeInUp"
                        data-animation-delay="1000"
                        data-animation-duration="1500"
                        style="animation-delay: 1000ms; animation-duration: 1500ms;"
                    >
                        <span>No Matter What</span>
                    </div>
                </h1>
            </div>
        </div>
    </div>
</header>
<main id="homeMain">
    <section id="posts-list-cnt">
        <!-- Limit the range to 3 latest posts -->
        {{ $pages := first 3 (where .Site.RegularPages "Section" "news" ) }}
        {{ range $pages }}
        <article class="list-item">
            <a href="{{ .Permalink }}" class="js-link-event-link">
                <div class="line"></div>
                {{ with .Params.category }}
                <h4 class="category">{{ . }}</h4>
                {{ end }}
                <h3 class="h4">
                    {{ .Title }}
                </h3>
            </a>
        </article>
        {{ end }}
    </section>

    <div id="app-stats"></div>

    <article class="fifty-fifty">
        <div class="inner">
            <div class="text">
                <header>
                    <h2 class="h2">{{ .Params.section_1.title }}</h2>
                </header>
                <div class="wysiwyg-content">
                    <p>{{ .Params.section_1.text }}</p>
                </div>
                <div class="cta-link">
                    <a href="{{ .Params.section_1.url }}" class="btn">{{ .Params.section_1.buttonTitle }}</a>
                </div>
            </div>
            <div class="image">
                <img
                    style="border-radius: 12px;"
                    src="{{ .Params.section_1.image }}"
                    width="590"
                    height="590"
                    alt="Image alt text"
                    loading="lazy"
                >
            </div>
        </div>
    </article>
    <article class="fifty-fifty">
        <div class="inner">
            <div class="image">
                <img
                    style="border-radius: 12px;"
                    src="{{ .Params.section_2.image }}"
                    width="590"
                    height="590"
                    alt="Image alt text"
                    loading="lazy"
                >
            </div>
            <div class="text">
                <header>
                    <h2 class="h2">{{ .Params.section_2.title }}</h2>
                </header>
                <div class="wysiwyg-content">
                    <p>{{ .Params.section_2.text }}</p>
                </div>
                <div class="cta-link">
                    <a href="{{ .Params.section_2.url }}" class="btn">{{ .Params.section_2.buttonTitle }}</a>
                </div>
            </div>
        </div>
    </article>
    {{ range .Params.testimonials }}
    <article class="testimonial" style="margin-bottom:0;border-radius:0">
        <div class="inner">
            <div class="photo">
                <img
                    style="border-radius: 1000px;"
                    src="{{ .image }}"
                    width="300"
                    height="300"
                    alt="Image alt text"
                    loading="lazy"
                >
            </div>
            <div class="text">
                <p>{{ .quote }}</p>
                <cite>{{ .title }}</cite>
            </div>
        </div>
    </article>
    {{ end }}
</main>
{{ end }}
