{{ define "main" }}
<header class="hero" data-hero-type="home" data-no-margin="false" data-section-nav="true" data-hashtag="false">
    <div class="inner">
        <div class="background -animated fadeIn" data-animation="fadeIn" data-animation-delay="100"
            data-animation-duration="1500" style="animation-delay: 100ms; animation-duration: 1500ms;">
            <picture>
                <source
                    srcset="/sites/default/files/styles/hero_desktop/public/images/iStock-1196015209.webp?itok=Ut0yt-ai"
                    type="image/webp"><img
                    src="/sites/default/files/styles/hero_desktop/public/images/iStock-1196015209.jpg?itok=Ut0yt-ai"
                    width="1680" height="978" alt="Happy Construction Coworkers Sharing a Hug">
            </picture>
        </div>
        <div class="content">
            <div class="text">
                <h1 class="h1 naacp-title"><a href="/events/labor-action-week" title="Labor Action">
                        <div class="top-text -animated fadeInUp" data-animation="fadeInUp" data-animation-delay="750"
                            data-animation-duration="1500" style="animation-delay: 750ms; animation-duration: 1500ms;">
                            <span>Labor Action</span></div>
                        <div class="highlight -animated fadeInUp" data-animation="fadeInUp" data-animation-delay="1000"
                            data-animation-duration="1500" style="animation-delay: 1000ms; animation-duration: 1500ms;">
                            <span>Week</span></div>
                    </a></h1>
            </div>
        </div>
    </div>
</header>
{{ end }}