.btn,
.resolutions .faceted-search-toggles .faceted-search-advanced-search .advanced-search-toggle {
    background: var(--button-color);
    color: #FFF;
}

.site-header-inner {
    backdrop-filter: blur(3px);
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}