.ajax-progress {
    display: inline-block;
    padding: 1px 5px 2px 5px;
}

[dir="rtl"] .ajax-progress {
    float: right;
}

.ajax-progress-throbber .throbber {
    display: inline;
    padding: 1px 5px 2px;
    background: transparent url(/core/themes/stable/images/core/throbber-active.gif) no-repeat 0 center;
}

.ajax-progress-throbber .message {
    display: inline;
    padding: 1px 5px 2px;
}

tr .ajax-progress-throbber .throbber {
    margin: 0 2px;
}

.ajax-progress-bar {
    width: 16em;
}

.ajax-progress-fullscreen {
    position: fixed;
    z-index: 1000;
    top: 48.5%;
    left: 49%;
    width: 24px;
    height: 24px;
    padding: 4px;
    opacity: 0.9;
    border-radius: 7px;
    background-color: #232323;
    background-image: url(/core/themes/stable/images/core/loading-small.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

[dir="rtl"] .ajax-progress-fullscreen {
    right: 49%;
    left: auto;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.align-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.js input.form-autocomplete {
    background-image: url(/core/themes/stable/images/core/throbber-inactive.png);
    background-repeat: no-repeat;
    background-position: 100% center;
}

.js[dir="rtl"] input.form-autocomplete {
    background-position: 0% center;
}

.js input.form-autocomplete.ui-autocomplete-loading {
    background-image: url(/core/themes/stable/images/core/throbber-active.gif);
    background-position: 100% center;
}

.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading {
    background-position: 0% center;
}

.fieldgroup {
    padding: 0;
    border-width: 0;
}

.container-inline div,
.container-inline label {
    display: inline;
}

.container-inline .details-wrapper {
    display: block;
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

.js details:not([open]) .details-wrapper {
    display: none;
}

.hidden {
    display: none;
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    position: static !important;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
}

.invisible {
    visibility: hidden;
}

.item-list__comma-list,
.item-list__comma-list li {
    display: inline;
}

.item-list__comma-list {
    margin: 0;
    padding: 0;
}

.item-list__comma-list li:after {
    content: ", ";
}

.item-list__comma-list li:last-child:after {
    content: "";
}

.js .js-hide {
    display: none;
}

.js-show {
    display: none;
}

.js .js-show {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.position-container {
    position: relative;
}

.progress {
    position: relative;
}

.progress__track {
    min-width: 100px;
    max-width: 100%;
    height: 16px;
    margin-top: 5px;
    border: 1px solid;
    background-color: #fff;
}

.progress__bar {
    width: 3%;
    min-width: 3%;
    max-width: 100%;
    height: 1.5em;
    background-color: #000;
}

.progress__description,
.progress__percentage {
    overflow: hidden;
    margin-top: 0.2em;
    color: #555;
    font-size: 0.875em;
}

.progress__description {
    float: left;
}

[dir="rtl"] .progress__description {
    float: right;
}

.progress__percentage {
    float: right;
}

[dir="rtl"] .progress__percentage {
    float: left;
}

.progress--small .progress__track {
    height: 7px;
}

.progress--small .progress__bar {
    height: 7px;
    background-size: 20px 20px;
}

.reset-appearance {
    margin: 0;
    padding: 0;
    border: 0 none;
    background: transparent;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.resize-none {
    resize: none;
}

.resize-vertical {
    min-height: 2em;
    resize: vertical;
}

.resize-horizontal {
    max-width: 100%;
    resize: horizontal;
}

.resize-both {
    max-width: 100%;
    min-height: 2em;
    resize: both;
}

table.sticky-header {
    z-index: 500;
    top: 0;
    margin-top: 0;
    background-color: #fff;
}

.system-status-counter__status-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.system-status-counter__status-icon:before {
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-position: center 2px;
    background-size: 20px;
}

.system-status-counter__status-icon--error:before {
    background-image: url(/core/themes/stable/images/core/icons/e32700/error.svg);
}

.system-status-counter__status-icon--warning:before {
    background-image: url(/core/themes/stable/images/core/icons/e29700/warning.svg);
}

.system-status-counter__status-icon--checked:before {
    background-image: url(/core/themes/stable/images/core/icons/73b355/check.svg);
}

.system-status-report-counters__item {
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.5em 0;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.063);
}

@media screen and (min-width:60em) {
    .system-status-report-counters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .system-status-report-counters__item--half-width {
        width: 49%;
    }

    .system-status-report-counters__item--third-width {
        width: 33%;
    }
}

.system-status-general-info__item {
    margin-top: 1em;
    padding: 0 1em 1em;
    border: 1px solid #ccc;
}

.system-status-general-info__item-title {
    border-bottom: 1px solid #ccc;
}

body.drag {
    cursor: move;
}

tr.region-title {
    font-weight: bold;
}

tr.region-message {
    color: #999;
}

tr.region-populated {
    display: none;
}

tr.add-new .tabledrag-changed {
    display: none;
}

.draggable a.tabledrag-handle {
    float: left;
    overflow: hidden;
    height: 1.7em;
    margin-left: -1em;
    cursor: move;
    text-decoration: none;
}

[dir="rtl"] .draggable a.tabledrag-handle {
    float: right;
    margin-right: -1em;
    margin-left: 0;
}

a.tabledrag-handle:hover {
    text-decoration: none;
}

a.tabledrag-handle .handle {
    width: 14px;
    height: 14px;
    margin: -0.4em 0.5em 0;
    padding: 0.42em 0.5em;
    background: url(/core/themes/stable/images/core/icons/787878/move.svg) no-repeat 6px 7px;
}

a.tabledrag-handle:hover .handle,
a.tabledrag-handle:focus .handle {
    background-image: url(/core/themes/stable/images/core/icons/000000/move.svg);
}

.touchevents .draggable td {
    padding: 0 10px;
}

.touchevents .draggable .menu-item__link {
    display: inline-block;
    padding: 10px 0;
}

.touchevents a.tabledrag-handle {
    width: 40px;
    height: 44px;
}

.touchevents a.tabledrag-handle .handle {
    height: 21px;
    background-position: 40% 19px;
}

[dir="rtl"] .touch a.tabledrag-handle .handle {
    background-position: right 40% top 19px;
}

.touchevents .draggable.drag a.tabledrag-handle .handle {
    background-position: 50% -32px;
}

.tabledrag-toggle-weight-wrapper {
    text-align: right;
}

[dir="rtl"] .tabledrag-toggle-weight-wrapper {
    text-align: left;
}

.indentation {
    float: left;
    width: 20px;
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em;
    padding: 0.42em 0 0.42em 0.6em;
}

[dir="rtl"] .indentation {
    float: right;
    margin: -0.4em -0.4em -0.4em 0.2em;
    padding: 0.42em 0.6em 0.42em 0;
}

.tablesort {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 100%;
}

.tablesort--asc {
    background-image: url(/core/themes/stable/images/core/icons/787878/twistie-down.svg);
}

.tablesort--desc {
    background-image: url(/core/themes/stable/images/core/icons/787878/twistie-up.svg);
}

div.tree-child {
    background: url(/core/themes/stable/images/core/tree.png) no-repeat 11px center;
}

div.tree-child-last {
    background: url(/core/themes/stable/images/core/tree-bottom.png) no-repeat 11px center;
}

[dir="rtl"] div.tree-child,
[dir="rtl"] div.tree-child-last {
    background-position: -65px center;
}

div.tree-child-horizontal {
    background: url(/core/themes/stable/images/core/tree.png) no-repeat -11px center;
}

form.user-login-form {
    max-width: 600px
}

form.user-login-form label {
    margin-bottom: 10px;
    letter-spacing: .03125rem
}

form.user-login-form input {
    margin-bottom: 20px
}

form.user-login-form input.-invalid {
    border: 2px solid #d8d8d8 !important
}

form.user-login-form .description,
form.user-login-form p {
    display: none
}

form.user-login-form .form-actions {
    margin-top: 20px
}

form.user-login-form .form-actions .btn {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    background: var(--primary-color);
    color: #000;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    letter-spacing: .54px;
    padding: 18px 22px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 0
}

form.user-login-form .form-actions .btn:active,
form.user-login-form .form-actions .btn:focus,
form.user-login-form .form-actions .btn:hover {
    outline: 0;
    color: #fff;
    background: #000;
    border-color: #000;
    text-decoration: none;
    box-shadow: none
}

form.user-pass {
    max-width: 600px
}

form.user-pass label {
    margin-bottom: 10px;
    letter-spacing: .03125rem
}

form.user-pass input {
    margin-bottom: 20px
}

form.user-pass input.-invalid {
    border: 2px solid #d8d8d8 !important
}

form.user-pass .description,
form.user-pass p {
    display: none
}

form.user-pass .form-actions {
    margin-top: 20px
}

form.user-pass .form-actions .btn {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    background: var(--primary-color);
    color: #000;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    letter-spacing: .54px;
    padding: 18px 22px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 0
}

form.user-pass .form-actions .btn:active,
form.user-pass .form-actions .btn:focus,
form.user-pass .form-actions .btn:hover {
    outline: 0;
    color: #fff;
    background: #000;
    border-color: #000;
    text-decoration: none;
    box-shadow: none
}

.system {
    grid-column: full;
    margin: 0 0 80px
}

.system.-gray {
    background: #f5f7fa
}

.system.-empty {
    margin: 0
}

.system[data-no-margin=true] {
    margin-bottom: 0
}

.system .inner {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto
}

.system.-moderation {
    margin-top: -80px
}

.system.-moderation form {
    margin: 0 0 1em
}

.system.-moderation form label {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .54px;
    padding: 0 0 .5em
}

.system.-moderation form input[type=text],
.system.-moderation form select,
.system.-moderation form textarea {
    border-radius: 0;
    padding-left: 15px
}

.system.-moderation form input[type=submit] {
    margin-top: 25px
}

.system.-moderation .entity-moderation-form {
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0
}

.system.-moderation .entity-moderation-form__item {
    margin-right: 1.5em
}

.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help {
    width: 125px !important;
    text-indent: -9999px !important
}

.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help:before {
    left: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url(/themes/custom/naacp/logo.svg) !important;
    background-size: 75px auto !important;
    background-position: 30px 50% !important;
    opacity: .45 !important
}

.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help :hover:before {
    opacity: 1 !important
}

body.adminimal .toolbar-icon-admin-toolbar-tools-help {
    width: 125px !important;
    text-indent: -9999px !important
}

body.adminimal .toolbar-icon-admin-toolbar-tools-help:before {
    left: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url(/themes/custom/naacp/logo.svg) !important;
    background-size: 75px auto !important;
    background-position: 30px 50% !important;
    opacity: .45 !important
}

body.adminimal .toolbar-icon-admin-toolbar-tools-help :hover:before {
    opacity: 1 !important
}

body.toolbar-fixed .toolbar-oriented .toolbar-bar {
    z-index: 50010
}

.adminimal .toolbar .toolbar-tray {
    border: none !important;
    box-shadow: none !important
}

.toolbar-horizontal .toolbar-tray>.toolbar-lining.-shadow {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .35)
}

html .adminimal .content-header {
    background: #333;
    position: relative
}

html .adminimal .content-header:before {
    position: absolute;
    bottom: 34px;
    right: 10px;
    content: "";
    display: block;
    height: 84px;
    width: 350px;
    background-image: url(/themes/custom/naacp/logo.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    opacity: .04
}

html .adminimal .content-header.-no-tabs:before {
    bottom: 0
}

html .adminimal .page-title {
    max-width: 70%;
    font-family: Verlag A, Verlag B, Verlag, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #8e8e8e
}

html .adminimal .page-title em {
    font-weight: 400
}

html .adminimal thead th {
    white-space: nowrap
}

html .adminimal thead th a {
    display: block;
    white-space: nowrap
}

html .adminimal thead th,
html .adminimal tr:nth-child(2n) {
    background: #f7f7f7
}

html .adminimal .button:first-child,
html .adminimal .image-button:first-child {
    margin-left: 0
}

html.naacp .messages {
    margin: 40px 0
}

html.naacp ul.tabs.primary li {
    display: inline-block
}

html.naacp ul.tabs.primary li a {
    display: block;
    padding: 2em;
    font-weight: 700;
    letter-spacing: .54px
}

html.naacp ul.tabs.primary li:first-child a {
    padding-left: 0
}

html.naacp ul.tabs.primary .tabs__tab a {
    color: #bbb !important
}

html.naacp ul.tabs.primary .tabs__tab.is-active>a,
html.naacp ul.tabs.primary .tabs__tab a.is-active {
    color: #222 !important
}

.layout-region-node-footer__content {
    border: 0 !important;
    padding: 0 !important
}

.breadcrumb {
    padding-bottom: 15px !important
}

.view-id-content .views-exposed-form .form-item {
    width: 175px
}

.view-id-content .views-exposed-form .form-item .description {
    display: none
}

.view-id-content .views-exposed-form .form-item.form-item-uid {
    clear: left
}

.view-id-content .views-exposed-form .form-item select {
    width: 100%
}

.view-id-content .vbo-multipage-selector {
    display: none
}

.view-id-content td.views-field-changed,
.view-id-content td.views-field-name,
.view-id-content td.views-field-nothing,
.view-id-content td.views-field-operations,
.view-id-content td.views-field-status,
.view-id-content td.views-field-type {
    white-space: nowrap
}

.form-textarea-wrapper textarea[data-drupal-selector=edit-field-summary-0-value] {
    width: 508.703px
}

.button:first-child,
input[data-drupal-selector=edit-field-content-add-more-browse] {
    margin-left: 0
}

#field_image-media-library-wrapper--description,
div[id*=media-library-wrapper-field].description {
    display: none
}

.media-library-selection {
    margin: 0 -8px !important
}

.adminimal .field-multiple-table thead h4 {
    color: #333;
    font-size: 13px
}

.adminimal .field-multiple-table thead tr {
    border: 0
}

.adminimal .field-multiple-table thead th {
    background: transparent;
    border: 0;
    white-space: nowrap;
    padding: 0 10px 0 0;
    font-size: 1em;
    color: #333
}

tr.even .form-item.form-type-textarea,
tr.odd .form-item.form-type-textarea {
    margin-bottom: 0
}

.node-confirm-form,
.node-form {
    margin-top: 32px
}

.node-form .layout-region-node-main details:first-of-type {
    margin-top: 0 !important
}

.node-form fieldset {
    background: transparent !important
}

.node-form details fieldset {
    border: 0;
    padding-left: 0 !important;
    padding-bottom: 0 !important
}

.node-form fieldset .form-type-radio {
    display: inline-block;
    padding: .5em 1em 1em 0
}

.node-form .form-type-checkbox .description {
    margin-left: 1.95em !important
}

.node-form .field--type-link fieldset {
    border: 0;
    padding-left: 0;
    padding-right: 0
}

.node-form .field--type-link table .description {
    display: none
}

.node-form .field--name-field-image fieldset {
    border: 0;
    padding-left: 0;
    padding-right: 0
}

.node-form .field--name-field-image .form-item {
    margin-left: 0
}

.node-form .field--name-field-upload fieldset,
.node-form .field--type-address details,
.node-form .field--type-daterange fieldset,
.node-form .field--type-datetime fieldset {
    border: 0;
    padding-left: 0;
    padding-right: 0
}

.node-form .field--type-address details summary {
    display: none
}

.node-form .field--type-address details .details-wrapper {
    padding: 0
}

.node-form .field--type-image .image-preview {
    padding-top: 0;
    padding-left: 0
}

.node-form .description li ul {
    margin: .5em 1em;
    padding: 0
}

.node-form .field--widget-inline-entity-form-complex:last-child {
    margin-bottom: 1em
}

.layout-region-node-secondary #edit-simple-sitemap {
    display: none
}

.layout-region-node-secondary table * {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    text-transform: none
}

.taxonomy-term-form details fieldset {
    border: 0;
    padding-left: 0 !important;
    padding-bottom: 0 !important
}

.taxonomy-term-form fieldset .form-type-radio {
    display: inline-block;
    padding: .5em 1em 1em 0
}

.taxonomy-term-form .field--type-link fieldset {
    border: 0;
    padding-left: 0;
    padding-right: 0
}

.taxonomy-term-form .field--type-link table .description {
    display: none
}

.taxonomy-term-form .field--type-image .image-preview {
    padding-top: 0;
    padding-left: 0
}

.taxonomy-term-form .description li ul {
    margin: .5em 1em;
    padding: 0
}

html.seven .node-form details thead tr {
    border: 0;
    padding: 0
}

html.seven .node-form details thead th {
    background: transparent;
    border: 0;
    padding-left: 0
}

html.seven .taxonomy-term-form details thead tr {
    border: 0;
    padding: 0
}

html.seven .taxonomy-term-form details thead th {
    background: transparent;
    border: 0;
    padding-left: 0
}

html.seven .config-split-form select {
    height: 500px;
    width: 500px
}

html.seven select[multiple],
html.seven select[multiple]:hover {
    width: 100%;
    height: 200px;
    background-image: -webkit-linear-gradient(top, #fcfcfa, #e9e9dd)
}

.entity-meta {
    background: #f2f2f2 !important;
    box-shadow: none !important
}

.entity-meta thead th {
    background: transparent
}

.form-item .description,
div.description,
ul.tips {
    margin-top: 5px !important
}

#edit-group-general .seven-details__wrapper.details-wrapper,
.paragraphs-subform {
    max-width: 750px
}

.paragraphs-subform .paragraphs-subform {
    width: auto
}

.paragraph-type--carousel-vertical .description,
.paragraph-type--carousel-vertical .form-type-checkbox .description,
.paragraph-type--carousel-vertical .form-type-radio .description,
.paragraph-type--filter-more .description,
.paragraph-type--filter-more .form-type-checkbox .description,
.paragraph-type--filter-more .form-type-radio .description,
.paragraph-type--filter-news .description,
.paragraph-type--filter-news .form-type-checkbox .description,
.paragraph-type--filter-news .form-type-radio .description,
.paragraph-type--hero .description,
.paragraph-type--hero .form-type-checkbox .description,
.paragraph-type--hero .form-type-radio .description,
.paragraph-type--promo-three .description,
.paragraph-type--promo-three .form-type-checkbox .description,
.paragraph-type--promo-three .form-type-radio .description,
.paragraph-type--search .description,
.paragraph-type--search .form-type-checkbox .description,
.paragraph-type--search .form-type-radio .description {
    font-size: .95em !important;
    color: #595959;
    margin-top: 5px !important
}

.paragraph-type--carousel-vertical .form-type-checkbox .description,
.paragraph-type--carousel-vertical .form-type-radio .description,
.paragraph-type--filter-more .form-type-checkbox .description,
.paragraph-type--filter-more .form-type-radio .description,
.paragraph-type--filter-news .form-type-checkbox .description,
.paragraph-type--filter-news .form-type-radio .description,
.paragraph-type--hero .form-type-checkbox .description,
.paragraph-type--hero .form-type-radio .description,
.paragraph-type--promo-three .form-type-checkbox .description,
.paragraph-type--promo-three .form-type-radio .description,
.paragraph-type--search .form-type-checkbox .description,
.paragraph-type--search .form-type-radio .description {
    margin-left: 23px !important
}

.paragraph-type--carousel-vertical .tabledrag-toggle-weight-wrapper,
.paragraph-type--filter-more .tabledrag-toggle-weight-wrapper,
.paragraph-type--filter-news .tabledrag-toggle-weight-wrapper,
.paragraph-type--hero .tabledrag-toggle-weight-wrapper,
.paragraph-type--promo-three .tabledrag-toggle-weight-wrapper,
.paragraph-type--search .tabledrag-toggle-weight-wrapper {
    display: none
}

.js .field--widget-paragraphs .paragraph-type--carousel-vertical .draggable .tabledrag-handle,
.js .field--widget-paragraphs .paragraph-type--filter-more .draggable .tabledrag-handle,
.js .field--widget-paragraphs .paragraph-type--filter-news .draggable .tabledrag-handle,
.js .field--widget-paragraphs .paragraph-type--hero .draggable .tabledrag-handle,
.js .field--widget-paragraphs .paragraph-type--promo-three .draggable .tabledrag-handle,
.js .field--widget-paragraphs .paragraph-type--search .draggable .tabledrag-handle {
    min-width: auto
}

.paragraph-type--carousel-vertical abbr.tabledrag-changed,
.paragraph-type--filter-more abbr.tabledrag-changed,
.paragraph-type--filter-news abbr.tabledrag-changed,
.paragraph-type--hero abbr.tabledrag-changed,
.paragraph-type--promo-three abbr.tabledrag-changed,
.paragraph-type--search abbr.tabledrag-changed {
    display: none
}

.adminimal .paragraph-type--carousel-vertical .form-checkboxes,
.adminimal .paragraph-type--filter-more .form-checkboxes,
.adminimal .paragraph-type--filter-news .form-checkboxes,
.adminimal .paragraph-type--hero .form-checkboxes,
.adminimal .paragraph-type--promo-three .form-checkboxes,
.adminimal .paragraph-type--search .form-checkboxes {
    margin-bottom: 10px
}

.adminimal .paragraph-type--carousel-vertical .form-checkboxes .form-item,
.adminimal .paragraph-type--filter-more .form-checkboxes .form-item,
.adminimal .paragraph-type--filter-news .form-checkboxes .form-item,
.adminimal .paragraph-type--hero .form-checkboxes .form-item,
.adminimal .paragraph-type--promo-three .form-checkboxes .form-item,
.adminimal .paragraph-type--search .form-checkboxes .form-item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0
}

.adminimal .paragraph-type--carousel-vertical input.form-text,
.adminimal .paragraph-type--filter-more input.form-text,
.adminimal .paragraph-type--filter-news input.form-text,
.adminimal .paragraph-type--hero input.form-text,
.adminimal .paragraph-type--promo-three input.form-text,
.adminimal .paragraph-type--search input.form-text {
    max-width: 250px
}

.paragraph-type--carousel-vertical .field--name-field-title label,
.paragraph-type--filter-more .field--name-field-title label,
.paragraph-type--filter-news .field--name-field-title label,
.paragraph-type--hero .field--name-field-title label,
.paragraph-type--promo-three .field--name-field-title label,
.paragraph-type--search .field--name-field-title label {
    margin: 0 0 .5em
}

.paragraph-type--search .field--name-field-nodes:after {
    content: "";
    display: block;
    background: transparent;
    border-top: 5px dotted #bfbfbf;
    margin: 1.75em 0;
    padding: 0;
    width: 95%
}

.paragraph-type--search .field--name-field-filter-node-type {
    margin: 20px 0
}

.field--name-field-help,
.help-intro .seven-details__description {
    color: #595959
}

.field--name-field-help ul,
.help-intro .seven-details__description ul {
    padding-left: 30px;
    margin-left: 0;
    margin-bottom: 20px
}

.field--name-field-help li,
.help-intro .seven-details__description li {
    margin-bottom: 10px
}

.field--name-field-link legend {
    letter-spacing: normal;
    text-transform: none
}

.field--name-field-link .form-type-entity-autocomplete .description {
    display: none
}

.help-intro .seven-details__description {
    font-size: 1em
}

.field--name-field-item-alt .paragraph-type-top,
.field--name-field-item .paragraph-type-top {
    display: none
}

.field--name-field-item-alt .field--name-field-help:before,
.field--name-field-item .field--name-field-help:before {
    content: "";
    display: block;
    background: transparent;
    border-top: 5px dotted #bfbfbf;
    margin: 1.75em 0;
    padding: 0;
    width: 95%
}

.field--name-field-item-alt .field--name-field-filter-node-type,
.field--name-field-item-alt .field--name-field-filter-terms,
.field--name-field-item-alt .field--name-field-filter-vocabulary,
.field--name-field-item .field--name-field-filter-node-type,
.field--name-field-item .field--name-field-filter-terms,
.field--name-field-item .field--name-field-filter-vocabulary {
    margin: 0 0 1.5em
}

.field--name-field-item-alt .field--name-field-filter-node-type,
.field--name-field-item .field--name-field-filter-node-type {
    margin-top: 1.5em
}

.field--name-field-item-alt .field--name-field-filter-terms table thead h4,
.field--name-field-item .field--name-field-filter-terms table thead h4 {
    display: block;
    margin: 0 0 .75em
}

.field--name-field-item-alt .field--name-field-filter-terms table td,
.field--name-field-item .field--name-field-filter-terms table td {
    padding-top: 0
}

.field--name-field-item-alt .field--name-field-filter-terms table td .form-item,
.field--name-field-item .field--name-field-filter-terms table td .form-item {
    margin: 0
}

.field--name-field-item-alt .field--name-field-filter-terms select,
.field--name-field-item .field--name-field-filter-terms select {
    width: auto
}

.field--name-field-item-alt .field--name-field-nodes table thead h4,
.field--name-field-item .field--name-field-nodes table thead h4 {
    display: block;
    margin: 0 0 .75em
}

.field--name-field-item-alt .field--name-field-nodes table td,
.field--name-field-item .field--name-field-nodes table td {
    padding-top: 0
}

.field--name-field-item-alt .field--name-field-nodes table td .form-item,
.field--name-field-item .field--name-field-nodes table td .form-item {
    margin: 0
}

.field--name-field-item-alt table.field-multiple-table th,
.field--name-field-item table.field-multiple-table th {
    padding-left: 0
}

.field--name-field-item-alt table.field-multiple-table td.field-multiple-drag.paragraph-bullet,
.field--name-field-item table.field-multiple-table td.field-multiple-drag.paragraph-bullet {
    display: none
}

.field--name-field-item-alt table.field-multiple-table tr.draggable,
.field--name-field-item table.field-multiple-table tr.draggable {
    border: 0
}

.field--name-field-item-alt .description,
.field--name-field-item .description {
    margin: 0
}

.field--name-field-workflow-reviewers .tabledrag-toggle-weight-wrapper {
    display: none
}

.field--name-field-workflow-reviewers.field--widget-multiple-options-select .button:first-child,
.field--name-field-workflow-reviewers.field--widget-multiple-options-select .description {
    margin: 0 0 10px 58px
}

.js #edit-group-taxonomy .field--widget-string-textfield thead>tr,
.js #edit-group-taxonomy .field--widget-string-textfield thead th,
.js .field--widget-multiple-options-select thead>tr,
.js .field--widget-multiple-options-select thead th,
.js .field--widget-paragraphs .field--widget-entity-reference-autocomplete thead>tr,
.js .field--widget-paragraphs .field--widget-entity-reference-autocomplete thead th,
.js .field--widget-paragraphs .field--widget-multiple-options-select thead>tr,
.js .field--widget-paragraphs .field--widget-multiple-options-select thead th,
.js .field--widget-paragraphs .field--widget-string-textfield:not(.field--name-field-title) thead>tr,
.js .field--widget-paragraphs .field--widget-string-textfield:not(.field--name-field-title) thead th {
    padding: 0;
    border: 0 !important;
    background: transparent
}

.js #edit-group-taxonomy .field--widget-string-textfield thead h4,
.js .field--widget-multiple-options-select thead h4,
.js .field--widget-paragraphs .field--widget-entity-reference-autocomplete thead h4,
.js .field--widget-paragraphs .field--widget-multiple-options-select thead h4,
.js .field--widget-paragraphs .field--widget-string-textfield:not(.field--name-field-title) thead h4 {
    color: #333;
    font-size: 13px
}

.js #edit-group-taxonomy .field--widget-string-textfield tbody tr,
.js .field--widget-multiple-options-select tbody tr,
.js .field--widget-paragraphs .field--widget-entity-reference-autocomplete tbody tr,
.js .field--widget-paragraphs .field--widget-multiple-options-select tbody tr,
.js .field--widget-paragraphs .field--widget-string-textfield:not(.field--name-field-title) tbody tr {
    padding: 0;
    border: 0 !important;
    background: transparent
}

.js #edit-group-taxonomy .field--widget-string-textfield tbody td,
.js .field--widget-multiple-options-select tbody td,
.js .field--widget-paragraphs .field--widget-entity-reference-autocomplete tbody td,
.js .field--widget-paragraphs .field--widget-multiple-options-select tbody td,
.js .field--widget-paragraphs .field--widget-string-textfield:not(.field--name-field-title) tbody td {
    padding-top: 0;
    padding-bottom: 0
}

.js #edit-group-taxonomy .field--widget-string-textfield tbody td.field-multiple-drag,
.js .field--widget-multiple-options-select tbody td.field-multiple-drag,
.js .field--widget-paragraphs .field--widget-entity-reference-autocomplete tbody td.field-multiple-drag,
.js .field--widget-paragraphs .field--widget-multiple-options-select tbody td.field-multiple-drag,
.js .field--widget-paragraphs .field--widget-string-textfield:not(.field--name-field-title) tbody td.field-multiple-drag {
    vertical-align: middle
}

.js #edit-group-taxonomy .field--widget-string-textfield .button:first-child,
.js #edit-group-taxonomy .field--widget-string-textfield .description,
.js .field--widget-multiple-options-select .button:first-child,
.js .field--widget-multiple-options-select .description,
.js .field--widget-paragraphs .field--widget-entity-reference-autocomplete .button:first-child,
.js .field--widget-paragraphs .field--widget-entity-reference-autocomplete .description,
.js .field--widget-paragraphs .field--widget-multiple-options-select .button:first-child,
.js .field--widget-paragraphs .field--widget-multiple-options-select .description,
.js .field--widget-paragraphs .field--widget-string-textfield:not(.field--name-field-title) .button:first-child,
.js .field--widget-paragraphs .field--widget-string-textfield:not(.field--name-field-title) .description {
    margin: 0 0 5px 58px
}

.js #edit-group-taxonomy .field--widget-string-textfield input[type=text],
.js #edit-group-taxonomy .field--widget-string-textfield select,
.js .field--widget-multiple-options-select input[type=text],
.js .field--widget-multiple-options-select select,
.js .field--widget-paragraphs .field--widget-entity-reference-autocomplete input[type=text],
.js .field--widget-paragraphs .field--widget-entity-reference-autocomplete select,
.js .field--widget-paragraphs .field--widget-multiple-options-select input[type=text],
.js .field--widget-paragraphs .field--widget-multiple-options-select select,
.js .field--widget-paragraphs .field--widget-string-textfield:not(.field--name-field-title) input[type=text],
.js .field--widget-paragraphs .field--widget-string-textfield:not(.field--name-field-title) select {
    width: 250px !important
}

.field--widget-paragraphs .paragraph-type--search .field--widget-entity-reference-autocomplete .button:first-child,
.field--widget-paragraphs .paragraph-type--search .field--widget-entity-reference-autocomplete .description,
.field--widget-paragraphs .paragraph-type--search .field--widget-multiple-options-select .button:first-child,
.field--widget-paragraphs .paragraph-type--search .field--widget-multiple-options-select .description {
    margin-left: 48px
}

#edit-group-taxonomy .field--widget-multiple-options-select .button:first-child,
#edit-group-taxonomy .field--widget-multiple-options-select .description,
#edit-group-taxonomy .field--widget-string-textfield .button:first-child,
#edit-group-taxonomy .field--widget-string-textfield .description,
.field--widget-paragraphs .paragraph-type--actions .field--widget-entity-reference-autocomplete .button:first-child,
.field--widget-paragraphs .paragraph-type--actions .field--widget-entity-reference-autocomplete .description,
.field--widget-paragraphs .paragraph-type--actions .field--widget-multiple-options-select .button:first-child,
.field--widget-paragraphs .paragraph-type--actions .field--widget-multiple-options-select .description,
.field--widget-paragraphs .paragraph-type--carousel-issues .field--widget-entity-reference-autocomplete .button:first-child,
.field--widget-paragraphs .paragraph-type--carousel-issues .field--widget-entity-reference-autocomplete .description,
.field--widget-paragraphs .paragraph-type--carousel-issues .field--widget-multiple-options-select .button:first-child,
.field--widget-paragraphs .paragraph-type--carousel-issues .field--widget-multiple-options-select .description,
.field--widget-paragraphs .paragraph-type--events .field--widget-entity-reference-autocomplete .button:first-child,
.field--widget-paragraphs .paragraph-type--events .field--widget-entity-reference-autocomplete .description,
.field--widget-paragraphs .paragraph-type--events .field--widget-multiple-options-select .button:first-child,
.field--widget-paragraphs .paragraph-type--events .field--widget-multiple-options-select .description {
    margin-left: 57px
}

.field--widget-entity-reference-autocomplete thead>tr,
.field--widget-entity-reference-autocomplete thead th {
    padding: 0;
    border: 0 !important;
    background: transparent
}

.field--widget-entity-reference-autocomplete thead h4 {
    color: #333;
    font-size: 13px
}

.field--widget-entity-reference-autocomplete tbody tr {
    padding: 0;
    border: 0 !important;
    background: transparent
}

.field--widget-entity-reference-autocomplete tbody td {
    padding-top: 0;
    padding-bottom: 0
}

.field--widget-entity-reference-autocomplete input[type=text],
.field--widget-entity-reference-autocomplete select {
    width: 250px
}

.field--widget-inline-entity-form-complex {
    background: #f7f7f7;
    border: 1px solid #d2d2d2;
    padding: 1em 1.5em 1.5em;
    margin: 2em 0
}

.field--widget-inline-entity-form-complex fieldset:not(.fieldgroup) {
    margin: 0;
    background: transparent
}

.field--widget-inline-entity-form-complex table {
    margin: 0
}

.field--widget-inline-entity-form-complex thead {
    display: none
}

.field--widget-inline-entity-form-complex tr {
    border: 0;
    background: transparent;
    padding-left: 0;
    padding-right: 0
}

.field--widget-inline-entity-form-complex tr:hover {
    background: transparent
}

.field--widget-inline-entity-form-complex td {
    border: 0;
    background: transparent;
    padding-left: 0;
    padding-right: 0
}

.field--widget-inline-entity-form-complex td:last-child {
    width: 5%
}

.field--widget-inline-entity-form-complex td.inline-entity-form-media-label {
    width: 95%
}

.field--widget-inline-entity-form-complex .ief-entity-operations {
    width: 100%;
    white-space: nowrap
}

.adminimal .field-multiple-table .field--widget-inline-entity-form-complex fieldset {
    margin: 0
}

.adminimal .field-multiple-table .field--widget-inline-entity-form-complex fieldset thead {
    display: table-header-group
}

.adminimal .field-multiple-table .field--widget-inline-entity-form-complex fieldset fieldset {
    margin: 0;
    padding: 0
}

.adminimal .field-multiple-table .field--widget-inline-entity-form-complex fieldset fieldset:not(.fieldgroup) legend {
    display: none
}

.adminimal .field-multiple-table .field--widget-inline-entity-form-complex fieldset>.fieldset-wrapper>.description {
    margin-top: 10px !important;
    width: 85%
}

.field--widget-entity-reference-paragraphs-browser input[type=submit] {
    margin-left: 0
}

.entity-embed-dialog .form-item-attributes-data-entity-embed-display-settings-alt,
.entity-embed-dialog [data-drupal-selector=edit-attributes-data-align] {
    display: none
}

.entities-list .item-container {
    margin: 10px 0 15px
}

.entities-list .item-container>input {
    margin: 10px 0
}

.field--name-behaviors summary {
    display: none
}

html.adminimal_theme .field--name-behaviors fieldset:not(.fieldgroup) {
    padding: 0 !important
}

html.adminimal_theme .field--name-behaviors fieldset:not(.fieldgroup)>legend {
    text-transform: none;
    letter-spacing: normal;
    display: none !important
}

.field--name-behaviors .seven-details {
    border: 0;
    margin: 0;
    padding: 0;
    background: none !important;
    border-bottom: 0 !important
}

.field--name-behaviors .seven-details__wrapper {
    padding: 0
}